:javascript

  function run() {
    load("#{form_authenticity_token}");
  }

%ul#trainingsform
  = form_for @training, :html => { :class => 'form' }, :remote=>true  do |f|
    %li
      #garminDisplay