= stylesheet_link_tag 'communicator2.css'
= javascript_include_tag 'garmin/prototype' ,
                         'garmin/connector',
                         'garmin/device/GarminDeviceDisplay',
                         'garmin/device/GarminDeviceControl',
                          'garmin/util/Util-XmlConverter',
                          ',garmin/util/Util-Broadcaster' ,
                          ',garmin/util/Util-DateTimeFormat' ,
                          ',garmin/util/Util-BrowserDetect' ,
                          ',garmin/util/Util-PluginDetect' ,
                          ',garmin/device/GarminObjectGenerator'



.detail
  .content
    .inner
      = render :partial => 'form'

:javascript
  load("#{form_authenticity_token}");

