.block
  .secondary-navigation
    %ul.wat-cf
      %li &nbsp;
  .content
    %h2.title
      = t("sportlevels", :default => "All Sportlevels")
      = t("web-app-theme.edit", :default => "Edit")
    .inner
      = form_for :sport_level, :url => sport_level_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
