.block
  .content
    %h2.title
      = t("sports")
      = t("web-app-theme.edit", :default => "Edit")

    .inner
      = form_for :sport, :url => sport_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
