.block
  .content
    %h2.title
      = t("web-app-theme.new", :default => "New")
      = t("sports")
    .inner
      = form_for :sport, :url => sports_path, :html => { :class => :form, :remote => true } do |f|
        = render :partial => "form", :locals => {:f => f}
