= form_for(BlogEntry.new) do |f|
      -#= f.hidden_field :id
      = f.label :comment
      %br/
      = f.text_area :subject, :rows => 2
      %br/
      %button.button{:type => 'button', :onclick=> 'postFile("<?xml version= ?>", "test");', :id=>'test'}
      = f.submit "Post Comment"