.block
  .content
    .inner
      .courves
       
= javascript_include_tag 'highcharts/js/highcharts'
:javascript

  var data = [];
  var reports = #{@statistic};

  jQuery.each( reports, function( intIndex, data ){
    jQuery('.courves').append('<h3>'+intIndex+'</h3>');
    jQuery('.courves').append('<div id="'+intIndex+'"></div>');
    
    t = splitData(data[0][0]); 
    var start = Date.UTC(t[0],t[1]-1,t[2]);
    jQuery(function() {
        new Highcharts.Chart({
          chart: {
            height: 250,
            renderTo: intIndex.toString(),          
            margin: [10, 20, 30, 60]	
          },
          title: {
            text: '',
            x: -50, //center$maxHeight
            y: 200
          },
          subtitle: {
            text: '',
            x: -20
          },
          credits: {
            enabled: false
          },
          legend: {
            enabled: false
          },         
          xAxis: {
            type: 'datetime',
            showLastTickLabel: true,
             
            plotBands: [{
               id: 'mask-before',
               from: start 
            }],
            title: {
               text: null
            }            
          },
          tooltip: {
                   formatter: function() {
                     return '<b>'+ this.series.name +'</b><br/>'+ Highcharts.dateFormat('%e. %b %Y', this.x) +': '+ Highcharts.numberFormat(this.y, 1, ',') +' km';
                   }
          },
          yAxis: [{ // Primary yAxis
            labels: {
              formatter: function() {
                  return this.value + ' km';
              },
              style: {
                  color: '#AA4643'
              }
            },
            title: {
              text: '',
              margin: 80,
              style: {
                  color: '#AA4643'
              }
            }
          }], 
          
          series: [{
            pointInterval: 7 * 24 * 3600000,
            pointStart: start,
            type: 'area',
            data: data
          }]
        });
      });
  });
  