= stylesheet_link_tag 'web-app-theme/base', 
                      'web-app-theme/themes/drastic-dark/style', 
                      'web-app-theme/override', 
                      'uniform.default', 
                      'fancybox/jquery.fancybox-1.3.4', 
                      'flick/jquery-ui-1.8.16.custom',
                      'layerstyle'
= javascript_include_tag 'jquery', 'jquery-ui.min', 'rails', 'application','OpenLayers', 'OpenStreetMap'
- for map in @map
  #maper
  
:javascript
  createMapWithRoute(#{map.map_data}, "maper", true, true);
  
           