.detail
  .content
    %h2.title
      = t("course names")
      = t("web-app-theme.edit", :default => "Edit")
    .inner
      = form_for :course_name, :url => course_name_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
