.block
  .secondary-navigation
    %ul.wat-cf
      %li &nbsp;
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      = @course.file
    .inner
      = form_for :course, :url => course_path, :html => { :id => 'course', :class => :form, :multipart => true} do |f|
        = render :partial => "form", :locals => {:f => f}
